@font-face {
  font-family: "MyriadPro";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/MyriadProRegular/MyriadProRegular.eot") format("embedded-opentype"), url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"), url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype"); }

@font-face {
  font-family: "MyriadPro";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/MyriadProBold/MyriadProBold.eot") format("embedded-opentype"), url("../fonts/MyriadProBold/MyriadProBold.woff") format("woff"), url("../fonts/MyriadProBold/MyriadProBold.ttf") format("truetype"); }

html {
  position: relative;
  min-height: 100%;
  overflow-x: hidden; }

body {
  font-size: 16px;
  line-height: 1.6;
  font-family: "MyriadPro", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  color: #606060;
  background: #fff; }

.hidden {
  display: none; }

a {
  outline: none !important; }
  a:hover, a:active, a:focus {
    text-decoration: none; }

strong {
  font-weight: normal;
  font-family: "MyriadPro", sans-serif;
  font-weight: 700; }

.button {
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background: #e8473f;
  -webkit-box-shadow: none;
          box-shadow: none;
  width: 100%;
  line-height: 1;
  margin: 0;
  display: block;
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-family: "MyriadPro", sans-serif;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  border: none;
  outline: none;
  padding: 15px 5px 15px 5px;
  height: auto;
  font-weight: 700;
  text-transform: uppercase; }
  .button:hover, .button:active, .button:focus:hover {
    background-color: #007898;
    -webkit-box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.3);
            box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.3);
    color: #fff; }
  .button:focus {
    background: #e8473f;
    color: #fff; }

.section-title {
  text-align: center;
  margin-bottom: 35px; }
  .section-title h2 {
    position: relative;
    font-family: "MyriadPro", sans-serif;
    font-size: 30px;
    line-height: 1.2;
    text-transform: uppercase;
    margin: 0;
    color: #00516a; }

*::-webkit-input-placeholder {
  color: #828282;
  opacity: 1;
  font-weight: 400; }

*:-moz-placeholder {
  color: #828282;
  opacity: 1;
  font-weight: 400; }

*::-moz-placeholder {
  color: #828282;
  opacity: 1;
  font-weight: 400; }

*:-ms-input-placeholder {
  color: #828282;
  opacity: 1;
  font-weight: 400; }

#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background-color: #e6e6e6; }
  #preloader .cssload-whirlpool {
    position: absolute;
    top: 50%;
    left: 50%;
    border: 1px solid #fff;
    -webkit-border-radius: 974px;
            border-radius: 974px; }
    #preloader .cssload-whirlpool::before, #preloader .cssload-whirlpool::after {
      position: absolute;
      top: 50%;
      left: 50%;
      border: 1px solid #fff;
      border-left-color: #007898;
      -webkit-border-radius: 974px;
              border-radius: 974px;
      margin: -24px 0 0 -24px;
      height: 49px;
      width: 49px;
      -webkit-animation: cssload-rotate 1150ms linear infinite;
              animation: cssload-rotate 1150ms linear infinite; }
    #preloader .cssload-whirlpool::before {
      content: "";
      margin: -22px 0 0 -22px;
      height: 43px;
      width: 43px;
      -webkit-animation: cssload-rotate 1150ms linear infinite;
              animation: cssload-rotate 1150ms linear infinite; }
    #preloader .cssload-whirlpool::after {
      content: "";
      margin: -28px 0 0 -28px;
      height: 55px;
      width: 55px;
      -webkit-animation: cssload-rotate 2300ms linear infinite;
              animation: cssload-rotate 2300ms linear infinite; }

@-webkit-keyframes cssload-rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes cssload-rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

.menu-dark-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  z-index: 100; }
  .menu-dark-bg.on {
    opacity: 1;
    visibility: visible; }

#menu {
  width: 270px;
  height: 100%;
  background: #fff;
  position: fixed;
  top: 0;
  right: -270px;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 1051;
  visibility: hidden; }
  #menu.on {
    right: 0;
    -webkit-box-shadow: -5px 0px 5px 0px rgba(0, 0, 0, 0.15);
            box-shadow: -5px 0px 5px 0px rgba(0, 0, 0, 0.15);
    visibility: visible; }
  #menu .menu-inner {
    padding: 70px 20px 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1051; }

.main-menu-toggle {
  position: absolute;
  top: 25px;
  right: 15px;
  display: block;
  width: 32px;
  height: 30px;
  cursor: pointer;
  z-index: 50; }
  .main-menu-toggle div {
    width: 100%;
    height: 3px;
    background: #606060;
    -webkit-border-radius: 2px;
            border-radius: 2px;
    margin: 6px auto;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden; }
  .main-menu-toggle.on .one {
    -webkit-transform: rotate(45deg) translate(5px, 5px);
        -ms-transform: rotate(45deg) translate(5px, 5px);
            transform: rotate(45deg) translate(5px, 5px); }
  .main-menu-toggle.on .two {
    opacity: 0; }
  .main-menu-toggle.on .three {
    -webkit-transform: rotate(-45deg) translate(7px, -8px);
        -ms-transform: rotate(-45deg) translate(7px, -8px);
            transform: rotate(-45deg) translate(7px, -8px); }

.main-menu-toggle-white {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 30px;
  cursor: pointer;
  z-index: 120;
  margin-top: 0; }
  .main-menu-toggle-white div {
    width: 100%;
    height: 3px;
    background: #fff;
    -webkit-border-radius: 0;
            border-radius: 0;
    margin: 6px auto;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden; }
  .main-menu-toggle-white.on .one {
    -webkit-transform: rotate(45deg) translate(5px, 5px);
        -ms-transform: rotate(45deg) translate(5px, 5px);
            transform: rotate(45deg) translate(5px, 5px); }
  .main-menu-toggle-white.on .two {
    opacity: 0; }
  .main-menu-toggle-white.on .three {
    -webkit-transform: rotate(-45deg) translate(7px, -8px);
        -ms-transform: rotate(-45deg) translate(7px, -8px);
            transform: rotate(-45deg) translate(7px, -8px); }

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1050;
  padding: 5px 0;
  -webkit-transition: all .5s ease;
  transition: all .5s ease; }
  #navbar.on {
    background: #0066b4;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2); }
  #navbar .left-side {
    float: left;
    vertical-align: top; }
    #navbar .left-side .logo {
      display: inline-block;
      vertical-align: top; }
        #navbar .left-side .logo a img {
          max-width: 100%; }
  #navbar .right-side {
    float: right;
    vertical-align: top;
    text-align: right;
    margin-top: 11px;
    display: flex;
    align-items: flex-start; }
    #navbar .right-side .phone {
      color: #fff;
      line-height: 1.2;
      display: inline-block;
      vertical-align: top;
      font-weight: 700;
      font-size: 18px;
      -webkit-transition: all .5s ease;
      transition: all .5s ease;
      margin-right: 15px;
      margin-top: 3px; }
      #navbar .right-side .phone:hover {
        color: #fff587; }
    #navbar .right-side .login-button {
      border: none;
      height: auto;
      display: inline-block;
      vertical-align: top;
      padding: 6px 27px 8px;
      color: #fff;
      font-size: 16px;
      line-height: 1;
      background: #73dfec;
      font-weight: 600;
      -webkit-border-radius: 3px;
              border-radius: 3px;
      text-align: center;
      -webkit-transition: all .5s ease;
      transition: all .5s ease;
      margin-right: 15px; }
      #navbar .right-side .login-button:hover {
        color: #39b0b8;
        background: #fff; }
    #navbar .right-side .register-button {
      border: none;
      height: auto;
      display: inline-block;
      vertical-align: top;
      padding: 6px 27px 8px;
      color: #fff;
      font-size: 16px;
      line-height: 1;
      font-weight: 700;
      -webkit-border-radius: 3px;
              border-radius: 3px;
      text-align: center;
      -webkit-transition: all .5s ease;
      transition: all .5s ease;
      background: #4adaeb;
      margin-right: 15px; }
      #navbar .right-side .register-button:hover {
        color: #39b0b8;
        background: #fff; }
    #navbar .right-side .menu-button {
      border: none;
      -webkit-box-shadow: none;
              box-shadow: none;
      outline: none;
      display: inline-block;
      vertical-align: top;
      -webkit-transition: all .5s ease;
      transition: all .5s ease;
      line-height: 1;
      cursor: pointer; }
      #navbar .right-side .menu-button:hover {
        color: #fff587; }
      #navbar .right-side .menu-button .menu-title {
        text-transform: uppercase;
        font-weight: 400;
        color: #fff;
        font-size: 18px;
        line-height: 1;
        display: inline-block;
        vertical-align: top;
        margin-top: 7px;
        margin-right: 5px; }

#header {
  position: relative;
  background: #39b0b8;
  padding: 70px 0 0; }
  #header .header-banner {
    position: relative; }
    #header .header-banner .header-img {
      margin-top: 20px;
      position: relative;
      left: -20px; }
    #header .header-banner .header-descr {
      position: relative;
      z-index: 10;
      margin-top: 45px; }
      #header .header-banner .header-descr .header-text {
        margin-bottom: 50px; }
      #header .header-banner .header-descr h1 {
        font-size: 30px;
        line-height: 1.2;
        color: #ffffff;
        margin: 0 0 2px;
        text-transform: uppercase;
        font-weight: 700; }
        #header .header-banner .header-descr h1 .br {
          display: block; }
      #header .header-banner .header-descr h2 {
        font-size: 24px;
        line-height: 1.2;
        color: #ffffff;
        margin: 0 0 15px;
        font-weight: 700; }
      #header .header-banner .header-descr p {
        font-size: 16px;
        line-height: 1.2;
        color: #ffffff;
        margin: 0;
        font-weight: 700; }
        #header .header-banner .header-descr p .price {
          font-size: 25px; }
        #header .header-banner .header-descr p .br {
          display: block; }

.contacts-form .row {
  margin-left: -7px;
  margin-right: -7px; }
  .contacts-form .row .col-md-3 {
    padding-left: 7px;
    padding-right: 7px; }

.contacts-form .form-control {
  border: 1px solid #12959e;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 16px;
  height: 46px;
  background: #12959e;
  color: #fff;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease; }
  .contacts-form .form-control:hover, .contacts-form .form-control:focus {
    border-color: #fff; }
  .contacts-form .form-control::-webkit-input-placeholder {
    color: #fff;
    opacity: 1;
    font-weight: 400; }
  .contacts-form .form-control:-moz-placeholder {
    color: #fff;
    opacity: 1;
    font-weight: 400; }
  .contacts-form .form-control::-moz-placeholder {
    color: #fff;
    opacity: 1;
    font-weight: 400; }
  .contacts-form .form-control:-ms-input-placeholder {
    color: #fff;
    opacity: 1;
    font-weight: 400; }

.contacts-form .select2-container {
  width: 100% !important; }

.contacts-form .select2-container--default .select2-selection--single {
  background: #12959e;
  border: 1px solid #12959e;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  height: 46px;
  outline: none;
  -webkit-transition: all .5s ease;
  transition: all .5s ease; }
  .contacts-form .select2-container--default .select2-selection--single:hover, .contacts-form .select2-container--default .select2-selection--single:focus {
    border-color: #fff; }
  .contacts-form .select2-container--default .select2-selection--single .select2-selection__rendered {
    height: 44px;
    line-height: 1.4;
    padding: 11px 40px 11px 15px;
    font-size: 16px;
    color: #fff;
    -webkit-border-radius: 3px;
            border-radius: 3px; }
  .contacts-form .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 44px;
    width: 40px; }
    .contacts-form .select2-container--default .select2-selection--single .select2-selection__arrow b {
      border-color: #fff transparent transparent transparent;
      border-width: 5px 5px 0 5px; }

.contacts-form .select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .contacts-form .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
  -webkit-border-radius: 3px;
          border-radius: 3px; }

.contacts-form .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #fff transparent;
  border-width: 0 5px 5px 5px; }

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background: #007898; }

#advantages {
  position: relative;
  background: #fff;
  padding: 25px 0 45px; }
  #advantages .advantages-item {
    margin: 0 auto 60px; }
    #advantages .advantages-item .icon {
      margin-bottom: 23px;
      height: 100px;
      width: 100px;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      background: #ffe63f;
      position: relative;
      text-align: center;
      padding-top: 27px; }
    #advantages .advantages-item h3 {
      color: #00516a;
      font-size: 20px;
      font-family: "MyriadPro", sans-serif;
      line-height: 1.2;
      margin: 0 0 20px; }
    #advantages .advantages-item p {
      font-size: 15px;
      line-height: 1.6;
      margin: 0; }
  #advantages .order-button {
    margin: 0 auto; }

.calculator-form {
  background: #fafafa;
  border: 1px solid #eeeded;
  padding: 20px 35px;
  position: relative; }
  .calculator-form:before {
    position: absolute;
    bottom: 20px;
    left: -140px;
    width: 118px;
    height: 133px;
    background: url(../../img/calculator-img.png) no-repeat center center;
    content: ''; }
  .calculator-form .form-group {
    margin-bottom: 5px; }
    .calculator-form .form-group.mb-0 {
      margin-bottom: 0; }
  .calculator-form .price-label {
    width: 100%;
    background: #f1f1f1;
    text-align: center;
    color: #e8473f;
    font-weight: 700;
    font-size: 43px;
    line-height: 1;
    padding: 4px 5px 6px; }
    .calculator-form .price-label span {
      font-size: 30px; }
  .calculator-form .form-label {
    font-size: 16px;
    font-weight: 400;
    color: #98b2b9;
    margin-bottom: 7px;
    margin-left: 15px;
    line-height: 1.2;
    display: block; }
    .calculator-form .form-label.mb-0 {
      margin-bottom: 0; }
    .calculator-form .form-label span {
      font-weight: 600;
      color: #fbb415;
      font-size: 30px;
      margin-left: 10px; }
  .calculator-form .form-control {
    background: #fff;
    border: 1px solid #b3b3b3;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    height: 46px;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding-left: 15px;
    padding-right: 15px;
    outline: none; }
  .calculator-form .select2-container {
    width: 100% !important; }
  .calculator-form .select2-container--default .select2-selection--single {
    background: #fff;
    border: 1px solid #b3b3b3;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    height: 46px;
    outline: none;
    -webkit-transition: all .5s ease;
    transition: all .5s ease; }
    .calculator-form .select2-container--default .select2-selection--single:hover, .calculator-form .select2-container--default .select2-selection--single:focus {
      border-color: #b3b3b3; }
    .calculator-form .select2-container--default .select2-selection--single .select2-selection__rendered {
      height: 44px;
      line-height: 1.4;
      padding: 11px 40px 11px 15px;
      font-size: 16px;
      color: #606060;
      -webkit-border-radius: 3px;
              border-radius: 3px; }
    .calculator-form .select2-container--default .select2-selection--single .select2-selection__arrow {
      height: 44px;
      width: 40px; }
      .calculator-form .select2-container--default .select2-selection--single .select2-selection__arrow b {
        border-color: #b3b3b3 transparent transparent transparent;
        border-width: 5px 5px 0 5px; }
  .calculator-form .select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .calculator-form .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
    -webkit-border-radius: 3px;
            border-radius: 3px; }
  .calculator-form .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #b3b3b3 transparent;
    border-width: 0 5px 5px 5px; }
  .calculator-form .button {
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 13px 5px 13px 5px; }
  .calculator-form .slider-group {
    position: relative;
    padding-bottom: 20px; }
    .calculator-form .slider-group .min {
      position: absolute;
      bottom: 0;
      left: 0; }
    .calculator-form .slider-group .max {
      position: absolute;
      bottom: 0;
      right: 0; }
  .calculator-form .slider.slider-horizontal {
    width: 100%; }
    .calculator-form .slider.slider-horizontal .slider-track {
      border: 1px solid #b3b3b3;
      background: #fff;
      -webkit-box-shadow: none;
              box-shadow: none;
      background-image: none;
      -webkit-border-radius: 2px;
              border-radius: 2px;
      height: 8px; }
    .calculator-form .slider.slider-horizontal .slider-selection {
      background: #fbb415;
      -webkit-box-shadow: none;
              box-shadow: none;
      background-image: none;
      -webkit-border-radius: 2px;
              border-radius: 2px; }
    .calculator-form .slider.slider-horizontal .slider-handle {
      width: 16px;
      height: 16px;
      background: #fff;
      cursor: pointer;
      border: 1px solid #b3b3b3;
      top: 1px; }

#work {
  position: relative;
  background: #f2fafe url(../../img/work-bg.png) repeat top left;
  padding: 30px 0 30px; }
  #work .work-row {
    text-align: center; }
  #work .work-item {
    float: left;
    width: 20%;
    text-align: left;
    padding-right: 20px; }
    #work .work-item:last-child .number:before {
      width: 100%; }
    #work .work-item:last-child .number:after {
      display: none; }
    #work .work-item .icon {
      width: 75px;
      height: 75px;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      text-align: center;
      padding-top: 17px;
      background: #b1e3fa;
      margin: 0 auto 20px; }
    #work .work-item .number {
      position: relative; }
      #work .work-item .number span {
        width: 31px;
        height: 31px;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        text-align: center;
        font-size: 16px;
        font-weight: 700;
        line-height: 1;
        padding-top: 5px;
        background: #fff;
        border: 2px solid #b8b8b8;
        margin: 0 auto 25px;
        color: #e8473f;
        display: block;
        z-index: 10;
        position: relative; }
      #work .work-item .number:before {
        position: absolute;
        top: 14px;
        left: 0;
        width: 95%;
        content: '';
        height: 2px;
        background: #b8b8b8; }
      #work .work-item .number:after {
        position: absolute;
        top: 9px;
        right: -12px;
        width: 15px;
        content: '';
        height: 12px;
        background: url(../../img/arrow-right.png) no-repeat center center; }
    #work .work-item p {
      font-size: 15px;
      color: #606060;
      line-height: 1.6;
      margin: 0; }

#reviews {
  position: relative;
  background: #fff;
  padding: 35px 0 45px; }
  #reviews .reviews-tabs {
    border-bottom: 5px solid #fbb415; }
    #reviews .reviews-tabs li {
      margin-bottom: 0;
      margin-right: 4px; }
      #reviews .reviews-tabs li.active a {
        background: #fbb415;
        color: #fff; }
        #reviews .reviews-tabs li.active a:hover {
          background: #fbb415;
          color: #fff; }
      #reviews .reviews-tabs li a {
        border: none;
        background: #efefef;
        -webkit-border-radius: 0;
                border-radius: 0;
        -webkit-transition: all .5s ease;
        transition: all .5s ease;
        font-size: 20px;
        line-height: 1;
        padding: 8px 50px;
        font-weight: 400;
        color: #7a7a7a; }
        #reviews .reviews-tabs li a:hover {
          background: #d0d0d0;
          color: #fff; }
  #reviews .tab-content {
    padding-top: 20px; }
  #reviews .table-responsive {
    background: #f2fafe;
    padding: 0 20px; }
    #reviews .table-responsive .table {
      margin-bottom: 0; }
      #reviews .table-responsive .table thead tr th {
        font-weight: 400;
        text-align: center;
        border-color: #fbb415;
        color: #979797;
        font-size: 15px; }
      #reviews .table-responsive .table tbody tr td {
        text-align: center;
        color: #606060;
        border-color: #c2c2c2;
        padding: 12px 8px;
        font-size: 15px; }
        #reviews .table-responsive .table tbody tr td a {
          color: #007898; }
          #reviews .table-responsive .table tbody tr td a:hover {
            text-decoration: underline; }
  #reviews .reviews-carousel {
    padding-top: 10px; }
    #reviews .reviews-carousel .item {
      border: 1px solid #d9d9d9;
      border-top: 5px solid #b1e3fa;
      padding: 25px 20px 30px;
      margin-right: 1px;
      margin-left: 1px; }
      #reviews .reviews-carousel .item img {
        width: auto; }
      #reviews .reviews-carousel .item .reviews-body p {
        color: #606060;
        font-size: 15px;
        line-height: 1.6;
        margin: 0; }
      #reviews .reviews-carousel .item .reviews-top {
        margin-bottom: 5px; }
        #reviews .reviews-carousel .item .reviews-top .left-side {
          float: left;
          margin-top: 5px; }
          #reviews .reviews-carousel .item .reviews-top .left-side .reviews-login {
            display: inline-block;
            vertical-align: top;
            font-size: 15px;
            line-height: 1;
            color: #39b0b8;
            margin-right: 10px; }
          #reviews .reviews-carousel .item .reviews-top .left-side .reviews-date {
            display: inline-block;
            vertical-align: top;
            font-size: 15px;
            color: #39b0b8;
            line-height: 1; }
        #reviews .reviews-carousel .item .reviews-top .reviews-rating {
          float: right; }
    #reviews .reviews-carousel.owl-theme .owl-nav.disabled + .owl-dots {
      margin-top: 20px; }
    #reviews .reviews-carousel.owl-theme .owl-dots .owl-dot span {
      width: 20px;
      height: 20px;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      border: none;
      -webkit-transition: all .5s ease;
      transition: all .5s ease;
      background: #338ece; }
    #reviews .reviews-carousel.owl-theme .owl-dots .owl-dot.active span,
    #reviews .reviews-carousel.owl-theme .owl-dots .owl-dot:hover span {
      background: #a9dcff; }
    #reviews .reviews-carousel.owl-theme .owl-nav {
      -webkit-transition: opacity 1s ease;
      transition: opacity 1s ease;
      opacity: 1;
      margin-top: 0; }
      #reviews .reviews-carousel.owl-theme .owl-nav div {
        position: absolute; }
      #reviews .reviews-carousel.owl-theme .owl-nav .owl-prev {
        left: -40px;
        top: 50%;
        height: 40px;
        width: 21px;
        -webkit-transition: all .5s ease;
        transition: all .5s ease;
        background: url(../../img/slider-arrow-left.png) no-repeat center center;
        opacity: .5;
        margin: 0;
        margin-top: -20px; }
        #reviews .reviews-carousel.owl-theme .owl-nav .owl-prev:hover {
          opacity: 1; }
      #reviews .reviews-carousel.owl-theme .owl-nav .owl-next {
        right: -40px;
        top: 50%;
        height: 40px;
        width: 21px;
        -webkit-transition: all .5s ease;
        transition: all .5s ease;
        background: url(../../img/slider-arrow-right.png) no-repeat center center;
        opacity: .5;
        margin: 0;
        margin-top: -20px; }
        #reviews .reviews-carousel.owl-theme .owl-nav .owl-next:hover {
          opacity: 1; }

#stats {
  position: relative;
  background: #fafafa;
  padding: 40px 0 40px; }
  #stats .stats-item {
    text-align: center; }
    #stats .stats-item .counter {
      font-size: 50px;
      line-height: 1;
      color: #fbb415;
      margin-bottom: 42px;
      position: relative; }
      #stats .stats-item .counter:before {
        position: absolute;
        bottom: -28px;
        left: 50%;
        margin-left: -14px;
        width: 28px;
        height: 22px;
        content: '';
        background: url(../../img/stats-arrow.png) no-repeat center center; }
    #stats .stats-item .icon {
      width: 38px;
      text-align: center;
      position: relative;
      margin: 0 auto 17px; }
      #stats .stats-item .icon:before {
        position: absolute;
        top: 13px;
        left: -115px;
        width: 115px;
        height: 1px;
        background: #007898;
        content: ''; }
      #stats .stats-item .icon:after {
        position: absolute;
        top: 13px;
        right: -115px;
        width: 115px;
        height: 1px;
        background: #007898;
        content: ''; }
    #stats .stats-item h4 {
      margin: 0;
      font-family: "MyriadPro", sans-serif;
      line-height: 1.2;
      font-size: 20px;
      color: #00516a; }

#safe {
  position: relative;
  background: #0a7d9c;
  padding: 25px 0 20px; }
  #safe .safe-img {
    text-align: center; }
    #safe .safe-img img {
      max-width: 100%;
      height: auto; }
  #safe .safe-descr {
    background: url(../../img/shield.png) no-repeat top left;
    padding: 10px 0 25px 100px;
    margin-top: 35px; }
    #safe .safe-descr h3 {
      text-transform: uppercase;
      color: #fff;
      margin: 0 0 2px;
      line-height: 1.2;
      font-size: 24px;
      font-weight: 700; }
    #safe .safe-descr p {
      color: #fff;
      margin: 0;
      line-height: 1.2;
      font-size: 24px; }

#universities {
  position: relative;
  background: #fff;
  padding: 35px 0 10px; }
  #universities .section-title {
    margin-bottom: 30px; }
  #universities .logo-wrap {
    text-align: center; }
    #universities .logo-wrap .logo-item {
      display: inline-block;
      vertical-align: top;
      margin: 0 20px 30px; }

#order {
  position: relative;
  background: #39b0b8;
  padding: 30px 0 0; }
  #order .order-img {
    float: right; }
    #order .order-img img {
      max-width: 100%;
      height: auto; }
  #order .form-title {
    margin-bottom: 45px;
    margin-top: 15px; }
    #order .form-title h2 {
      font-size: 21px;
      line-height: 1.2;
      color: #fff;
      margin: 0 0 2px;
      font-weight: 700;
      text-transform: uppercase;
      font-family: "MyriadPro", sans-serif; }
    #order .form-title p {
      font-size: 21px;
      font-weight: 700;
      color: #fff;
      line-height: 1.2;
      margin: 0; }

#faq {
  position: relative;
  background: url(../../img/faq-bg.png) repeat top left;
  padding: 40px 0 30px; }
  #faq .section-title {
    margin-bottom: 25px; }
  #faq .faq-item {
    padding-left: 50px;
    padding-top: 3px;
    background: url(../../img/faq-icon.png) no-repeat top left;
    margin-bottom: 25px;
    display: none; }
    #faq .faq-item h4 {
      margin: 0 0 20px;
      color: #007898;
      line-height: 1.2;
      font-size: 20px; }
    #faq .faq-item p {
      font-size: 15px; }
      #faq .faq-item p:last-child {
        margin-bottom: 0; }
  #faq .more-button {
    margin: 0 auto;
    font-size: 16px;
    text-transform: none;
    padding: 6px 5px 8px;
    max-width: 120px; }
.sub-menu {
  display: none;
}

#footer {
  position: relative;
  background: #00516a;
  padding: 30px 0 15px; }
  #footer .copyright {
    font-size: 15px;
    line-height: 1.4;
    color: #fff;
    max-width: 640px;
    margin-bottom: 25px; }
  #footer .footer-logo .footer-logo-item {
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
    margin-bottom: 10px; }
  #footer .contacts-block {
    line-height: 1.6;
    margin-bottom: 5px; }
    #footer .contacts-block .icon {
      display: inline;
      margin-right: 10px;
      line-height: 1;
      position: relative;
      top: -2px; }
    #footer .contacts-block a {
      color: #fff;
      font-size: 15px; }
      #footer .contacts-block a:hover {
        text-decoration: underline; }
  #footer .terms {
    margin-top: 20px; }
    #footer .terms .terms-link {
      line-height: 1.4; }
    #footer .terms a {
      font-size: 15px;
      color: #44adf6;
      text-decoration: underline; }
      #footer .terms a:hover {
        text-decoration: none; }

.popup {
  position: relative;
  background: #fff;
  max-width: 370px;
  margin: 0 auto;
  padding: 20px 25px; }
  .popup .popup-title h4 {
    text-align: center;
    font-size: 24px;
    color: #007898;
    font-weight: 700;
    line-height: 1.2;
    font-family: "MyriadPro", sans-serif;
    margin: 0 0 25px; }
  .popup .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 14px;
    height: 14px;
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    background: url(../../img/close.png) no-repeat center center;
    outline: none;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    opacity: .8; }
    .popup .close-button:hover {
      opacity: 1; }
  .popup .form-group {
    margin-bottom: 28px; }
  .popup .form-control {
    background: #fff;
    color: #606060; }
    .popup .form-control:hover, .popup .form-control:focus {
      border-color: #007898; }
    .popup .form-control::-webkit-input-placeholder {
      color: #ccc;
      opacity: 1;
      font-weight: 400; }
    .popup .form-control:-moz-placeholder {
      color: #ccc;
      opacity: 1;
      font-weight: 400; }
    .popup .form-control::-moz-placeholder {
      color: #ccc;
      opacity: 1;
      font-weight: 400; }
    .popup .form-control:-ms-input-placeholder {
      color: #ccc;
      opacity: 1;
      font-weight: 400; }
  .popup .button {
    background: #fda60c;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 400; }
    .popup .button:hover, .popup .button:active, .popup .button:focus:hover {
      background-color: #e8473f;
      -webkit-box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.3);
              box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.3);
      color: #fff; }
    .popup .button:focus {
      background: #fda60c;
      color: #fff; }
  .popup .form-links {
    text-align: center;
    margin-top: 15px; }
    .popup .form-links .form-link {
      display: inline-block;
      margin-right: 10px;
      position: relative; }
      .popup .form-links .form-link:last-child {
        margin-right: 0; }
        .popup .form-links .form-link:last-child:before {
          display: none; }
      .popup .form-links .form-link:before {
        position: absolute;
        top: 5px;
        right: -8px;
        width: 1px;
        height: 17px;
        background: #007898;
        content: ''; }
      .popup .form-links .form-link a {
        font-size: 16px;
        color: #007898;
        font-weight: 400; }
        .popup .form-links .form-link a:hover {
          text-decoration: underline; }
  .popup .form-label {
    font-size: 16px;
    color: #606060;
    font-weight: 700;
    line-height: 1.2;
    font-family: "MyriadPro", sans-serif;
    margin: 10px 0 20px; }

.mfp-fade.mfp-bg {
  opacity: 0;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out; }
  .mfp-fade.mfp-bg.mfp-ready {
    opacity: 0.85;
    background: #08373a; }
  .mfp-fade.mfp-bg.mfp-removing {
    opacity: 0; }

.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  -webkit-transform: scale(0.7);
      -ms-transform: scale(0.7);
          transform: scale(0.7); }

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1); }

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
  -webkit-transform: scale(0.7);
      -ms-transform: scale(0.7);
          transform: scale(0.7); }

/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  #universities .logo-wrap .logo-item {
    margin-right: 5px;
    margin-left: 5px; }
  #order .form-title {
    margin-bottom: 25px; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  #navbar .right-side .login-button {
    padding-left: 7px;
    padding-right: 7px; }
  #navbar .right-side .register-button {
    padding-left: 7px;
    padding-right: 7px; }
  #header .header-banner .header-descr .header-text {
    text-align: center; }
  #header .header-banner .header-img {
    margin-top: 30px;
    text-align: center;
    left: auto; }
    #header .header-banner .header-img img {
      max-width: 100%;
      height: auto; }
  #order .form-title {
    margin-top: 0;
    text-align: center; }
  #footer {
    text-align: center; }
  #footer .copyright {
    max-width: 100%; }
  #safe .safe-descr {
    margin-top: 15px; }
  #order .order-img {
    float: none;
    margin-top: 20px;
    text-align: center; }
  .calculator-form {
    max-width: 500px;
    margin: 0 auto; }
  #advantages .advantages-item {
    text-align: center;
    margin-bottom: 30px; }
    #advantages .advantages-item .icon {
      margin: 0 auto 23px; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {
  /*Disable Animation on Mobile Devices*/
  .animated {
    /*CSS transitions*/
    -webkit-transition-property: none !important;
    transition-property: none !important;
    /*CSS transforms*/
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    /*CSS animations*/
    -webkit-animation: none !important;
    animation: none !important; }
  #navbar .right-side .phone {
    display: none; }
  #header .header-banner .header-img {
    text-align: center; }
  #header .header-banner .header-descr h1, #header .header-banner .header-descr p {
    text-align: center; }
  #work .work-item {
    float: none;
    width: 100%;
    max-width: 320px;
    margin: 0 auto 30px;
    text-align: center; }
    #work .work-item:last-child {
      margin-bottom: 0; }
  #reviews .reviews-tabs li a {
    padding-left: 15px;
    padding-right: 15px; }
  .contacts-form {
    max-width: 290px;
    margin: 0 auto; }
    .contacts-form .button {
      max-width: 100%; }
  #stats {
    padding-bottom: 5px; }
    #stats .stats-item {
      margin-bottom: 40px; }
  #support {
    padding-bottom: 5px; }
    #support .support-item {
      margin-bottom: 30px; }
  #order .order-img {
    text-align: center;
    margin-top: 30px; }
  #order .form-title {
    text-align: center; }
  #navbar .right-side .menu-button .menu-title {
    display: none; }
  #navbar .right-side .login-button {
    margin-right: 5px; }
  #navbar .right-side .register-button {
    margin-right: 5px; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 580px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  #header .header-banner .header-descr h1 {
    font-size: 30px; }
  .section-title h2 {
    font-size: 30px; }
  #advantages .advantages-item {
    margin-bottom: 30px; }
  #work .work-item {
    margin-bottom: 30px; }
  #order .form-title h2 {
    font-size: 30px; }
  #navbar .left-side .logo a span {
    display: none; }
  .calculator-form {
    padding-left: 15px;
    padding-right: 15px; }
  #reviews .reviews-tabs li a {
    font-size: 12px; } }


.button_cabinet_active {
  margin-top: -17px;
  margin-right: 15px;
}

.inline-register .col-md-offset-2 {
  margin-left: 0!important;
}
.inline-register input[type="submit"]{
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #e8473f;
  -webkit-box-shadow: none;
  box-shadow: none;
  width: 33%;
  line-height: 1;
  margin: 0;
  display: inline-block;
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-family: "MyriadPro", sans-serif;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  border: none;
  outline: none;
  padding: 15px 5px 15px 5px;
  height: auto;
  font-weight: 700;
  text-transform: uppercase;
}


@media only screen and (max-width: 769px) {
  .inline-register input[type="submit"]{
    width: 100%;
    max-width: 300px !important;
  }.inline-register .mail_reg_home{
    width: 300px !important;
    max-width: 100% !important;
  }
  /**/ }

@media only screen and (max-width: 380px) {
  /**/ }

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/ }

/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (min-width: 769px) {


  /**/ }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/ }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  .container {
    width: 1200px; } }

